@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInPlace {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  position: relative; }

canvas {
  display: block;
  width: 100% !important;
  height: 100vh; }

.body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 0rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;
    margin-bottom: 1rem; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: #000;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  .heading-secondary--white {
    color: #fff;
    padding-bottom: .5rem;
    border-bottom: 0.3rem solid #fff; }

.heading-tertiary {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 2rem;
  line-height: 1.5; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
  .paragraph--emphisis {
    font-weight: bolder; }
  .paragraph--white {
    color: white; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium-large {
  margin-bottom: 5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-medium-small {
  margin-bottom: 2.5rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-x-large {
  margin-top: 24rem !important; }

.u-margin-top-large {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-move-in-left-animation {
  animation: moveInLeft 1s ease-out; }

.u-move-in-right-animation {
  animation: moveInRight 1s ease-out; }

.u-move-in-place-animation {
  animation: moveInPlace 2s ease-out; }

.u-move-in-bottom-animation {
  animation: moveInBottom 1s ease-out; }

.u-opacity-0 {
  opacity: 0; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 105%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  cursor: pointer; }

.btn--expanding, .btn--expanding:link, .btn--expanding:visited {
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  padding: 1.5rem 4rem; }

.btn--expanding:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn--expanding:hover::after {
    transform: scale(1.4, 1.6);
    opacity: 0; }

.btn--expanding:active, .btn--expanding:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--expanding-white {
  background-color: #fff;
  color: #777; }
  .btn--expanding-white::after {
    background-color: #fff; }

.btn--expanding::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--text, .btn--text:link, .btn--text:visited {
  font-size: 1.6rem;
  font-weight: 300;
  border: 2px solid #000;
  padding: 1.5rem 3rem;
  color: #000;
  transition: all .4s; }
  .btn--text .fa-arrow-right, .btn--text:link .fa-arrow-right, .btn--text:visited .fa-arrow-right {
    transition: transform .4s ease; }

.btn--text .fa-arrow-right {
  margin-left: 1rem; }

.btn--text:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: #fff;
  background-color: #cfb8b9; }

.btn--text:active, .btn--text:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--text:hover .fa-arrow-right {
  transition: transform .4s ease;
  transform: rotate(90deg); }

.card {
  height: 52rem;
  transition: all .3s ease;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  position: relative; }
  .card:hover {
    transform: translateY(-1rem) scale(1.1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .card:active {
    transform: translateY(-0.1rem) scale(1.09);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .card__picture {
    background-size: cover;
    height: 40rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: url("https://via.placeholder.com/200x200.jpg?text=MacBuilt"); }
    .card__picture--2 {
      background-image: url("https://via.placeholder.com/200x200.jpg?text=Spotify+Mock"); }
    .card__picture--3 {
      background-image: url("https://via.placeholder.com/200x200.jpg?text=Rent+Me"); }
  .card__heading {
    font-size: 2.4rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: #a67b7d;
    margin-top: 4rem; }

.composition {
  position: relative;
  margin-top: 5%;
  margin-left: 5%; }
  .composition > * {
    display: inline-block;
    padding-top: 2rem;
    font-size: 6.2rem;
    color: #555;
    width: 10rem;
    height: 10rem;
    background-color: black;
    text-align: center;
    margin: 2rem 1rem;
    color: #fff;
    box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.2); }
  .composition__javascript-logo:hover {
    color: #F0DB4F;
    text-shadow: 0 0 1.5rem #F0DB4F; }
  .composition__html5-logo:hover {
    color: #F16529;
    text-shadow: 0 0 1.5rem #F16529; }
  .composition__css3-logo:hover {
    color: #2965f1;
    text-shadow: 0 0 1.5rem #2965f1; }
  .composition__react-logo:hover {
    color: #61dbfb;
    text-shadow: 0 0 1.5rem #61dbfb; }
  .composition__less-logo:hover {
    color: #6f6fc2;
    text-shadow: 0 0 1.5rem #6f6fc2; }
  .composition__sass-logo:hover {
    color: #c69;
    text-shadow: 0 0 1.5rem #c69; }
  .composition__java-logo:hover {
    color: orange;
    text-shadow: 0 0 1.5rem orange; }
  .composition__python-logo:hover {
    color: #4B8BBE;
    text-shadow: 0 0 1.5rem #4B8BBE; }

.form {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid white;
  padding: 2rem;
  border-radius: 17px; }
  .form__container {
    display: flex;
    flex-flow: column;
    align-items: flex-start; }
  .form__input {
    width: 100%;
    display: block;
    padding: .5rem 0 .5rem 1rem;
    font-size: 1.8rem;
    margin-bottom: .5rem;
    color: #fff;
    background-color: #a67b7d;
    border: none; }
    .form__input::placeholder {
      color: rgba(255, 255, 255, 0.6); }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid white; }
    .form__input:focus:invalid {
      border-bottom: 3px solid red; }
    .form__input--message {
      font-size: 2rem; }
  .form__label {
    font-size: 1.7rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-bottom: 0.7rem;
    margin-top: .7rem;
    color: #fff;
    display: block;
    transition: all .3s; }
  .form__btn {
    width: 25%;
    align-self: flex-end;
    margin-top: 3rem;
    height: 4rem;
    color: black; }
  .form__recaptcha {
    margin-top: 1rem; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-in-out 0s; }

.list {
  margin-bottom: 4rem; }
  .list__row {
    font-size: 2rem; }
    .list__row:not(:last-child) {
      margin-bottom: 1.5rem; }
  .list__key {
    font-size: 2.5rem;
    font-weight: 400;
    margin-right: 2rem; }
  .list__item {
    padding: .2rem .5rem; }

.footer {
  background-color: #2b2b2b;
  padding: 4rem 0;
  text-align: center; }
  .footer__copyright {
    color: #fff;
    font-size: 1.65rem;
    display: inline-block; }
    .footer__copyright-name {
      font-style: italic; }
    .footer__copyright-logo {
      color: #a67b7d; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__container {
    max-width: 100rem;
    display: flex;
    align-items: center;
    flex-flow: column; }
  .header__text-box {
    border: 5px solid #000;
    padding: 2rem 1.5rem;
    margin-bottom: 6rem;
    text-align: center; }

.section-about {
  padding: 10rem 0 12rem 0; }
  .section-about__my-photo {
    margin-left: 7%; }

.section-projects {
  padding: 10rem 0 25rem 0;
  position: relative; }

.section-contact {
  background-color: #333;
  clip-path: polygon(0 0, 50% 12.5%, 100% 0, 100% 100%, 0% 100%);
  margin-top: -10rem;
  padding-bottom: 15rem; }
