$color-black: #000;
$color-white: #fff;
$color-primary: #a67b7d;

$color-gray-light: rgb(199, 199, 199);
$color-gray-dark: #777;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
