.u-center-text { text-align: center !important; }

.u-margin-bottom-large { margin-bottom: 8rem !important; }
.u-margin-bottom-medium { margin-bottom: 4rem !important; }
.u-margin-bottom-medium-small { margin-bottom: 2.5rem !important; }
.u-margin-bottom-small { margin-bottom: 1.5rem !important; }

.u-margin-top-x-large { margin-top: 20rem !important; }
.u-margin-top-large { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }

.u-move-in-left-animation { animation: moveInLeft 1s ease-out; }
.u-move-in-right-animation { animation: moveInRight 1s ease-out; }
.u-move-in-place-animation { animation: moveInPlace 2s ease-out; }
.u-move-in-bottom-animation { animation: moveInBottom 1s ease-out; }

.u-opacity-0 { opacity: 0; }
