.u-center-text { text-align: center !important; }

.u-margin-bottom-large { margin-bottom: 8rem !important; }
.u-margin-bottom-medium-large { margin-bottom: 3rem !important; }
.u-margin-bottom-medium { margin-bottom: 4rem !important; }
.u-margin-bottom-medium-small { margin-bottom: 2.5rem !important; }
.u-margin-bottom-small { margin-bottom: 1.5rem !important; }

.u-margin-top-x-large { margin-top: 30rem !important; }
.u-margin-top-large { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }
.u-margin-top-medium { margin-top: 5rem !important; }
.u-margin-top-small { margin-top: 2rem !important; }

.u-margin-left-small { margin-left: 5%; }

.u-margin-right-small { margin-right: 1rem; }
.u-margin-right-medium { margin-right: 2rem; }

.u-move-in-left-animation { animation: moveInLeft 1s ease-out; }
.u-move-in-right-animation { animation: moveInRight 1s ease-out; }
.u-move-in-place-animation { animation: moveInPlace 2s ease-out; }
.u-move-in-bottom-animation { animation: moveInBottom 1s ease-out; }
.u-scale-up-animation { animation: scaleUp 1s ease;}

.u-opacity-0 { opacity: 0; }
.u-margin-0-auto { margin: 0 auto; }
.u-display-none { display: none !important; }

.u-normalize-anchor-tag { 
    text-decoration: none; 
    color: #000;
    &:hover {
        color: $color-primary;
    }
}

.u-display-none-on-tab-hor {
    @include respond(tab-hor) {
        display: none;
    }
}

.u-visibility-hidden { visibility: hidden; }

.u-font-size-smaller { @include respond(tab-vert) { font-size: 3.5rem; } }